<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Welcome
to my webpage!</title>
</head>
<body>
<div style="text-align: center;"><h1><span
 style="font-weight: bold;">Welcome to my webpage!</h1></span><br>
<%= image_tag 'banners.jpg' %>></big></big></big>
<hr style="width: 100%; height: 2px;"><big><big><big><big><big></big></big></big></big></big>
<table style="text-align: left; width: 1500px; height: 401px;"
 border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <ul>
        <li><big><big><big><big>My web
course</big></big></big></big></li>
        <li><big><big><big><big>words</big></big></big></big></li>
        <li><big><big><big><big>pages</big></big></big></big></li>
        <li><big><big><big><big>code</big></big></big></big></li>
      </ul>
      </td>
      <td>
      <ul>
        <li><big><big><big><big>My web
course</big></big></big></big></li>
        <li><big><big><big><big>words</big></big></big></big></li>
        <li><big><big><big><big>pages</big></big></big></big></li>
        <li><big><big><big><big>code</big></big></big></big></li>
      </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<%= link_to 'About', about_path %>

</body>
</html>

